.gpt3_features_container_feature
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem;
}

.gpt3_features_container_features_title
{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.gpt3_features_container_features_title h1
{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.gpt3_features_container_features_title div
{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.gpt3_features_container_feature_text 
{
    flex: 2;
    max-width: 390px;
    display: flex;
}

.gpt3_features_container_feature_text p
{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 550px)
{
    .gpt3_features_container_features_title h1
    {
        font-size: 14px;
        line-height: 20px;
    }    

    .gpt3_features_container_feature_text p 
    {
        font-size: 12px;
        line-height: 20px;
    }

    .gpt3_features_container_features_title,
    .gpt3_features_container_feature_text 
    {
        max-width: 100%;
    }

    .gpt3_features_container_feature
    {
        flex-direction: column;
        margin: 1rem 0;
    }
}