.gpt3_navbar_links 
{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 6rem;
}

.gpt3_navbar_links_logo 
{
  margin-right: 2rem;
}

.gpt3_navbar_links_logo img 
{
  width: 62.56px;
  height: 16.02px;
}

.gpt3_navbar_links_container
{
    display: flex;
    /* flex-direction: row; */
}

.gpt3_navbar_sign
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3_navbar_links_container p,
.gpt3_navbar_sign p,
.gpt3_navbar_menu_container p 
{
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.gpt3_navbar_sign button,
.gpt3_navbar_menu_container button
{
    border: 0;
    outline: none;
    font-family: var(--font-family);
    padding: 0.5rem 1rem;
    font-weight: 500;
    left: 1153px;
    top: 55px;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    background-color: #ff4b20;
    cursor: pointer;
    border-radius: 5px;
}

.gpt3_navbar_menu 
{
  margin-left: 1rem;
  display: none;
  position: relative;
}

.gpt3_navbar_menu svg
{
  cursor: pointer;
}

.gpt3_navbar_menu_container
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gpt3_navbar_menu_container p
{
  margin: 1rem 0;
}

.gpt3_navbar_menu_container_links_sign
{
  display: none;
}

@media screen and (max-width:1056px)
{
  .gpt3_navbar_links_container
  {
    display: none;
  }  

  .gpt3_navbar_menu
  {
    display: flex;
  }
}

@media screen and (max-width:700px)
{
  .gpt3_navbar
  {
     padding: 2rem 4rem;
  }  

}

@media screen and (max-width:550px)
{
  .gpt3_navbar
  {
     padding: 2rem;
  }  

  .gpt3_navbar_sign
  {
    display: none;
  }

  .gpt3_navbar_menu_container
  {
    top: 20px;
  }

  .gpt3_navbar_menu_container_links_sign    
  {
    display: block;
  }

}