.gpt3_possibility
{
    display: flex;
    flex-direction: row;
}

.gpt3_possibility_img
{
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-right: 2rem;
}

.gpt3_possibility_img img
{
    width: 100%; 
    height: 100%;
}

.gpt3_possibility_content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.gpt3_possibility_content h4
{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%; 
    color: #71E5FF;
}

.gpt3_possibility_content h4:last-child
{
    color: #FF8A71;
}

.gpt3_possibility_content h1
{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.gpt3_possibility_content p
{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    line-height: 30px;
    margin-bottom: 2rem;
}

@media screen and (max-width:950px) 
{
    .gpt3_possibility
    {
        flex-direction: column;
    }    
    .gpt3_possibility_img
    {
        margin: 1rem 0;
    }
    .gpt3_possibility_content
    {
        margin: 2rem;
    }
}