.gpt3_header
{
    display: flex;
}

.gpt3_header_content
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.gpt3_header_content h1
{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt3_header_content p
{
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.gpt3_header_content_input
{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt3_header_content_input input
{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background : var(--color-footer);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    color: #ffffff;
    outline: none;
    padding: 0 1rem;
    border: 2px solid var(--color-footer);
    border-radius: 0 5px 5px 0 ; 

}

.gpt3_header_content_input button
{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0 1rem;
    background: #FF4820;
    line-height: 27px;
}

.gpt3_header_content_ppl
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.gpt3_header_content_ppl img
{
    width: 181.79px;
    height: 38px;
}

.gpt3_header_content_ppl p
{
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
}

.gpt3_header-image
{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gpt3_header-image img
{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1050px)
{
    .gpt3_header
    {
        flex-direction: column;
    }
    .gpt3_header_content
    {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) 
{
    .gpt3_header h1
    {
        font-size: 48px;
        line-height: 60px;
    }    
    .gpt3_header p
    {
        font-size: 16px;
        line-height: 24px;
    }    
    .gpt3_header_content_ppl
    {
        flex-direction: column;
    }
    .gpt3_header_content_ppl p
    {
        margin: 0;
    }
    .gpt3_header_content_input input,
    .gpt3_header_content_input button
    {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) 
{
    .gpt3_header h1
    {
        font-size: 36px;
        line-height: 48x;
    }    
    .gpt3_header p
    {
        font-size: 14px;
        line-height: 24px;
    }    
    .gpt3_header_content_input input,
    .gpt3_header_content_input button
    {
        font-size: 12px;
        line-height: 16px;
    }
}